*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans Condensed";
}
h1,h2,h3{
    font-weight: 700;
}
.nav-link{
    font-size:1.2em;
    margin:0 10px;
    font-weight: 700;
    color: #00613A !important;
}
@media screen and (min-width: 768px){
    a.active{
        border-bottom:  5px solid #A90201 !important;
    }
}

a.principal:hover{
    color:#00A19B;
    font-weight: 500;
}

.carousel-inner, .item-service{
 position: relative;
}
.inmovil{
    position: absolute;
    
    
    color:#fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  
    font-family: "Open Sans Condensed";
    color: #ffffff;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    width: 100%;
    font-style: normal;
    text-shadow: 2px 2px 2px #0f0f0f;
}
.item-service{
    margin:0 !important;
}
.item-service h5{
 position: absolute;
 left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color:white;
    font-size: 1.6em;
    text-shadow: #0f0f0f 3px 3px 2px;
}
@media  screen and (min-width: 768px){
    .inmovil{
        font-size: 52px;
    }
}

.carousel-caption p{
    font-size:1.1em;
    color:#003F74;
}
.carousel-item img{
    width: 100%;
    height: 60vh;
}
@media screen and (min-width: 768px){
    .carousel-item img{
        width: 100%;
        height: 100vh;
    }
}

.titulos{
    font-weight: bold;
    position:relative;
    margin-bottom: 45px;
}
.titulos::before{
    content: "";
    position:absolute;
    width: 80px;
    height: 5px;
    background-color: #8ca104;
    top:110%;
    left:45%;
}
.circular{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border:2px solid  #00A19B;
}
h5{
    color:#00A19B;
}
.social a{
    margin-left: 20px!important;
    font-weight: bold;
    font-size: 1.5em;
}
img.service{
    
    height:250px ;
}
.servicio{
    position: relative;
}
.titleimg{
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 2em;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.titulo-principal{
    height: 25vh;
    background-image: url('../img/banner3.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.titulo-principal h1{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    font-size: 3em;
}
.lista li{
    margin-bottom: 20px;
}
.peque{
    width: 100%;
    height: 300px;
}
.peque .carousel-item img{
    width: 100%;
    height: 300px;
}
.producto{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
}
.producto p{
    color:white;
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactus{
    background-color: lightgreen;
}
.contactus h2, .contactus p{
    color: #00613A;
}